<table class="eav-list">
  <tbody>
    {% for delta, item in items %}
      <tr class="eav-list__item eav-list__item--{{ item.attribute_name|clean_class }}">
        <td class="eav-list__attribute">
          <span class="eav-list__attribute-label">{{ item.attribute_label }}</span>
          {% if item.description %}
            <span class="eav-list__attribute-description-link">?</span>
            <div class="eav-list__attribute-description">{{ item.description }}</div>
          {% endif %}
        </td>
        <td class="eav-list__value">{{ item.value }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
